PORT=3000
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=weroad_test
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-wetravel:5432/${POSTGRES_DB}
FE_URL='http://localhost:8083'